/*Home*/

body
{
    margin:0;
    padding:0;
    background: url("images/Accueil.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    display: flex;
}

#cookies-banner
{
    position:fixed;
    bottom:0; left:0;
    z-index:9999;
    width:100%;
    padding:10px 10px;
    vertical-align:middle;
    margin:0;
    color: white;
}

a
{
    margin: auto;
}
