[class*="col-"]{
    padding: 0px;
}

body{
    background: #331107;
}

a, a:hover, a:active, a:visited, a:focus, a:link{
    color: white;
    text-decoration: none;
}

section{
    background: white;
}

footer{
    background: #222222;
    color: white;
    text-align: justify;
    padding-top: 15px;
}

.navbar{
    padding: 30px;
    color: white;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.information{
    text-align: justify;
    font-size: xx-large;
    padding: 40px;
}

.panel-red{
    background: #cc0000;
    border: 0px;
    border-radius: 0px;
    color: white;
}

.panel-grey{
    background: #4E4E4E !important;
    border : #4E4E4E;
    border-bottom: solid #D6D6D6 2px !important;
    border-radius: 0px;
    color: white;
    margin-bottom: 0px;
}

.block{
    display: flex;
}

.center{
    margin: auto;
}

.btn-group{
    margin-bottom: 15px;
}

.ticket{
    border-bottom : solid black 1px;
    padding-bottom: 15px;
}

.customer{
    border-bottom : dotted black 1px;
    text-align: left;
    padding-bottom: 15px;
}

.input-group, .ui-spinner{
    margin: 50px;
}

#ticket_type{
    padding: 20px;
}

input[readonly]{
    background: white !important;
}

.form-control{
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
}

.form-control{
    box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
}

.panel {
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}