/*----------------------------------------------- LAYOUT -----------------------------------------------*/

[class*="col-"]{
    padding: 0px;
}

.row{
    margin: 0 !important;
}


@media (max-width: 420px){
    .billet{
        margin: 15px !important;
    }
}

@media (min-width: 420px) and (max-width: 992px){
    .billet{
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
}

body{
    background: #331107;
}

.container{
    padding: 0 !important;
}

a, a:hover, a:active, a:visited, a:focus, a:link{
    color: white;
    text-decoration: none;
}

section{
    padding: 0 !important;
    background: white;
}

footer{
    background: #222222;
    color: white;
    text-align: justify;
    padding-top: 15px !important;
}

h1{
    margin-bottom: 0 !important;
}

h2, h3, h4 {
    margin: 0px; !important;
}

h3 {
    font-size: medium;
}

.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.section{
    max-width: 350px;
    margin: auto;
    padding: 40px !important
}

.section-mail{
    max-width: 600px;
    margin: auto;
    padding: 40px !important
}

.information{
    text-align: justify;
    font-size: xx-large;
    padding: 40px !important;
}

.panel {
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}

.panel-red{
    background: #cc0000;
    border: 0px;
    border-radius: 0px;
    color: white;
    padding: 2px;
}

.panel-grey{
    background: #4E4E4E !important;
    border : #4E4E4E;
    border-bottom: solid #D6D6D6 2px !important;
    border-radius: 0px;
    color: white;
    margin-bottom: 0px;
}

input[readonly]{
    background: white !important;
}

.form-control{
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
}

.glyphicon{
    color: #cc0000;
}

.glyphicon-info-sign{
    color: white !important;
}

[placeholder] {
    color: #555 !important;
}

::-webkit-input-placeholder {
    color: #555 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #555 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #555 !important;
}

:-ms-input-placeholder {
    color: #555 !important;
}

/*----------------------------------------------- TICKETING -----------------------------------------------*/

#ticket_type{
    padding: 20px;
}

.number{
    margin: 0 !important;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.email{
    padding-bottom: 10px;
}

.btn-success{
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #cc0000 !important;
    background-color: #cc0000 !important;
}

.label1{
    margin-top: 10px;
    margin-bottom: 20px;
}

.label2{
    font-weight: normal !important;
    color: #555 !important;
}

.border{
    border-bottom : dotted black 1px;
}

.red{
    text-align: center;
    color: #cc0000;
}

#erreur{
    display: none;
}

.form-control:focus{
    border: 1px solid #ccc;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    color: #4E4E4E !important;
}

.ui-button {
    color: #4E4E4E;
}

.ui-state-active, .ui-button.ui-state-active:hover, .ui-button:hover{
    color: #4E4E4E;
    font-weight: 400;
}

.radio, .checkbox {
    text-align: center;
}

.radio label {
    min-width: 150px;
}

.ui-visual-focus{
    box-shadow: 0 0 3px 1px rgb(255, 255, 255) !important;
}

.ui-checkboxradio-radio-label .ui-icon-background {
    width: 8px;
    height: 8px;
    border-width: 4px;
    border-style: solid;
}

label.required.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-radio-label.ui-checkboxradio-checked.ui-state-active span.ui-icon-background{
    border : #cc0000;
    background-color: #cc0000;
}

label.required.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-radio-label span.ui-icon-background{
    border: #eeeeee;
    background-color: #eeeeee;
}

#item3 .form-control:focus {
    border: 0px solid #ccc;
}

.ui-spinner {
    display: block;
    width: 100%;
    height: 34px;
    padding-left: 6.4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ui-spinner input{
    height: 30px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

#ticket_customers p{
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.has-error .form-control{
    border-color: #ccc !important;
}

.help-block{
    color: #a94442 !important;
}
