<section class="panel-body text-center">
    <div class="row">
        <div class="btn-group">
            <a class="btn btn-default" href="#">{{ 'Today'|trans }}</a>
            <a class="btn btn-default" href="#">{{ 'Tomorrow'|trans }}</a>
            <a class="btn btn-default" href="#">{{ 'Other'|trans }}</a>
        </div>
    </div>
    <div class="row block">
        <div class="center" id="datepicker">
        </div>
    </div>
</section>
